[user]
    name = Markus Moll
    email = markus.moll@hacon.de
[push]
    default = simple
[pull]
    rebase = merges
[fetch]
    prune = true
[core]
    editor = vim
    excludesfile = /home/mmo/.gitignore
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
    prompt = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[submodule]
    recurse = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status --short --branch
    df = difftool -d
    lg = log --date=format:'%Y-%m-%d' --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(green)%ad%C(reset) %C(white)%s%C(reset) %C(red)%an%C(reset)%C(bold yellow)%d%C(reset)'
    # Reword the message of the last local commit
    reword = commit --amend
    # Remove file from the staging are but keep all modifications
    unstage = reset HEAD --
    # Revert last local commit and put it in the staging area
    uncommit = reset --soft HEAD~1
    # Show commits committed locally but not yet pushed to remote
    review-local = "!git lg @{push}.."
    # Push local branch to remote and set upstream
    publish = push -u origin HEAD
    # Revert all local changes of all files that have not yet been committed
    rollback = reset --hard HEAD
    # Find merge commit for given commit hash
    find-merge = "!f() { git l ${1}..${2-master} --ancestry-path --merges --reverse | head -n5; }; f"
    # Show current kernel release (cwd to kernel first)
    show-kernel-release = !git describe --tags --candidates=42 --abbrev=0 --match=LTS/*
    # Show current HSM release version
    show-release = !git describe --tags --candidates=42 --abbrev=0 --match="release/*" --match="release-candidate/*"
    # Show diffs between the current branch and the std-release the branch is based upon
    show-release-diff = !git diff $(git show-release)..HEAD
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
