export EDITOR="nvim"
export FZF_BASE="/usr/share/fzf"
export PATH="$HOME/.local/bin:$PATH"
export SOPS_AGE_KEY_FILE="{{ .chezmoi.config.age.identity }}"
export SOPS_AGE_RECIPIENTS="{{ .chezmoi.config.age.recipient }}"
